<div class="row">
    {{#each listings }}
        <div class="col-md-3">
            <a href="/api/listings/{{id}}">
                <h3>
                    {{name}}
                </h3>
                <img src="{{first_photo photoUrl}}" alt="Car">
                <div class="view-listing">
                    <h4>View Listing</h4>
                </div>
                <p class="remaining-time">
                    {{time_remaining endListingDate}} Remaining
                </p>
                <p class="price">
                    ${{current_price startBidAmount Bids}}
                </p>
            </a>
        </div>
    {{/each}}
</div>