<div class="text-center">
  <h2>{{car.make}} {{car.model}}</h2>
  <p>Year: {{car.year}}</p>
  <p>Price{{car.price}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    <span for="img" aria-label="money">💲</span>
  <p>
    <button class="btn btn-primary">Place your bid!</button>
  </p>
</div>
