<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
  <div class="profile-section">
    <h3>Your Information:</h3>
    <p>Email: {{email}}</p>
    <p>Phone: {{phone}}</p>
    <p>Address: {{address}}</p>
  </div>
</div>
<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a Listing:</h3>

    <form class="form new-car-form">
      <div class="form-group">
        <label for="car-name">Car name:</label>
        <input class="form-input" type="text" id="car-name" name="car-name" />
      </div>
      <div class="form-group">
        <label for="car-name">Make:</label>
        <input class="form-input" type="text" id="car-make" name="car-make" />
      </div>
      <div class="form-group">
        <label for="car-name">Year:</label>
        <input class="form-input" type="number" id="car-year" name="car-year" />
      </div>
      <div class="form-group">
        <label for="car-starting-price">Starting Price ($):</label>
        <input class="form-input" type="number" id="car-starting-price" name="car-starting-price" />
      </div>
      <div class="form-group">
        <label for="car-mileage">Mileage:</label>
        <input class="form-input" type="number" id="car-mileage" name="car-mileage" />
      </div>
      <div class="form-group">
        <label for="car-condition">Condition:</label>
        <input class="form-input" id="car-condition" name="car-condition" />
      </div>
      <div class="form-group">
        <label for="car-details">Description:</label>
        <textarea class="form-input" id="car-details" name="car-details"></textarea>
      </div>
      <div class="form-group">
        <label for="car-auction-end-date">Auction End Date (enter yyyy/mm/dd):</label>
        <input class="form-input" id="car-auction-end-date" name="car-auction-end-date" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create Listing</button>
      </div>
    </form>
  </div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Your Bids:</h3>
    {{#if bids.length}}
    <table class="table table-striped">
      <thead>
        <tr>
            <th>Car</th>
            <th>Bid Amount</th>
            <th>Date</th>
            <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {{#each bids as |bid|}}
            <tr>
              <td>{{bid.car.make}} {{bid.car.model}}</td>
              <td>${{bid.amount}}</td>
              <td>{{format_date bid.date}}</td>
              <td>{{bid.status}}</td>
            </tr>
          {{/each}}
      </tbody>
    </table>
    {{else}}
    <p>You have not placed any bids yet.</p>
    {{/if}}
  </div>
  <div class="col-md-6">
    <h3>Your Winning Cars:</h3>
    {{#if winningCars.length}}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Car</th>
          <th>Winning Amount</th>
          <th>Date</th>
          <th>Winning Price</th>
          </tr>
        </thead>
        <tbody>
          {{#each winningCars as |car|}}
            <tr>
              <td>{{car.make}} {{car.model}}</td>
              <td>{{car.winning_amount}}</td>
              <td>{{car.winning_date}}</td>
              <td>${{car.winning_price}}</td>
              <td>

        <h4><a href="/cars/{{listing.id}}">{{listing.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{listing.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
